[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.5"
mypy = "==0.790"
isort = "==5.6.4"
twine = "==3.2.0"
flake8 = "==4.0.1"
black = "*"
pytest-cov = "==2.10.1"
pytest-asyncio = "==0.16.0"

[packages]
aiozipkin = "==1.0.0"
starlette = "==0.25.0"

[pipenv]
allow_prereleases = false
